// FOOTER & HEADER NAV
.ozgm-nav {
    ul {
        float: left;
        li {
            float: left;
            margin-right: 15px;
            padding-bottom: 5px;
            a {
                padding: 10px 5px;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
                span {
                    color: @red;
                    font-size: 16px;
                }
            }
        }
    }
}
// PAGES HEADING
.page-heading {
    p {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 24px;
        margin-top: 15px;
        color: #000;
    }
    .page-heading-sub-title-1 {
        font-size: 12px;
        color: #000;
    }
    .page-heading-sub-title-2 {
        font-size: 16px;
        color: @red;
    }
}
// BREADCRUMBS
.breadcrumbs {
    overflow: hidden;
    padding: 0px;
    display: inline-block;
    opacity: 0.9;
    .clearfix();
    li {
        float: left;
        a {
            position: relative;
            display: block;
            text-transform: capitalize;
            padding: 12px 15px;
            color: #000;
            &:before {
                position: absolute;
                // make in ascii
                content: "|";
                left: 0px;
            }
        }
    }
    .breadcrumbs-home {
        a {
            color: @gray;
            &:before {
                display: none;
            }
        }
    } 
    .breadcrumbs-active {
        a {
            color: @red;
        }
    }
}
// PAGINATION
.ozgm-pagination {
    margin: 25px 0px 45px -15px;
    padding: 0px;
    li {
        display: inline;
        a {
            color: #000000;
            padding: 10px;
            font-size: 15px;
            &:hover {
                background-color: @gray-whisper;
            }
        }
        &.ozgm-pagination-active {
            a {
                color: @red;
                text-decoration: underline;
            }
        }
    }
}
// ELEMENT(MAIN PAGE LIST, PRODUCTION)
    .img-title-elem {
        // margin-bottom: 25px;
        .img-container {
            // height: 325px;
            margin: 0 auto;
            img {
                width: 100%;
                filter: grayscale(100%);
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
            }

        }
    &:hover {
        img {
            filter: grayscale(0%);
        }
        .title-container {
            background-color: @darkBlue;
            h1 {
                color: #cfcfcf;
                text-decoration: none;
            }
        }
    }
        .title-container {
        display: table;
        width: 100%;
        background-color: #cfcfcf;
        margin-top: 5px;
        h1 {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            // height: 55px;
            text-transform: uppercase;
            color: @darkBlue;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }
    }
// ARTICLE LESS HERE
.ozgm-article {
    // background: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    padding: 30px 15px 25px 15px;
    > p {
        margin-bottom: 22px;
    }
    ul {
        padding: 25px;
        li {
            list-style-image: url('../images/list-image.png');
        }
    }
}
// ARTICLE BG
.bg-s-gon {
    background: url('../images/bg-prod.png') no-repeat;
    background-size: cover;
    padding-top: 30px;
    p {
        margin-bottom: 20px;
        font-size: 15px;
    }
}
// VIDEO
#video-container {
    position: relative;
    overflow: hidden;
    

// fix for video in ie
    // .fix-container {
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     right: 0px;
    //     height: 100%;
    // }
    video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
    }
}