.ozgm-form {
    padding-top: 20px;
    padding-bottom: 20px;
    // background: rgba(255, 255, 255, 0.9);
    .form-group {
        .clearfix();
    }
    h2 {
        font-size: 15px;
        padding-left: 15px;
        color: #000000;
        margin-bottom: 32px;
    }
    .form-control {
        border-radius: 0px;

    }
    input {
        height: 35px;
    }
    input,
    textarea {
        color: #000000;
    }
    label {
        color: #919191;
        font-size: 15px;
        font-weight: 100;
        span {
            color: @red;
        }
    }
    .submit-btn-container {
        p {
            width: 150px;
            float: left;
            span {
                color: @red;
            }
        }

    }
    button[type=submit] {
        color: #ffffff;
        background-color: @red;
        padding: 8px 16px;
        border-radius: 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
        // before 760px
        float: right;
    }
    textarea {
        resize: none;
        height: 145px;
    }
}