.bg-black {
    background-color: black;
}
.bg-dark-blue {
    // background: url(../images/header-bg.png);
    background: #0d1f34;
    opacity: 0.9;
}
.bg-gray {
    background-color: #dfdfdf;
}
.bg-gray-whisper {
    background-color: @gray-whisper;
}
.bg-s-gons {
    background: url('../images/sg-bg.png');
}
.bg-press {
    position: relative;
    background-image: url('../images/press-bg.png');
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }
}
// .text-white {
//     color: white;
// }
// .text-gray {
//     color: #6d758a;
// }
// .text-red {
//     color: @red;
// }

a:hover, a:focus {
    text-decoration: none;
}
a:visited {
    // color: #00cc00;
}
ul {
    list-style: none;
}
.btn:focus {
    outline: 0;
}
