

#header {
.header-container {
    position: relative;
}
    .logo {
        display: block;
        // margin: 0 auto;
        padding-top: 20px;
        padding-left: 15px;
    }
    #header-bg {
        position: absolute;
        opacity: 0.3;
        width: 100%;
        height: 613px;
    }
    .h-top {
        position: relative;
    }
    .header-nav {
        height: 100%;
        // float: left;
        margin-top: 5px;
    }
    // TODO change name of class 
    .ozgm-nav {
        // padding-left: 0px;
        ul {
            padding-left: 0px;
            margin-top: 10px;
            li {
                width: 100%;
                // text-align: center;s
            }
        }
    }
        .navbar-collapse {
            // border-top: 1px solid transparent;
            box-shadow: none;
        }
        .navbar-toggle {
            margin-right: 5px;
        }
    a {
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
    #header-btn {
        padding: 12px;
        background-color: @red;
        position: absolute;
        top: 20px;
        right: 15px;
        .header-btn-arrow {
            font-size: 15px;
        }
    }
}
#about {
    position: relative;
    .bg-about {
        position: absolute;
        background: rgba(12,48,84,0.9);
        height: 100%;
        width: 100%;
        z-index: 100;
    }
    .bars {
        max-width: 420px;
        // position: relative;
    }
    .bars-cont:after {
        content: "";
        background: url('../images/romb_after.png') no-repeat;
        position: absolute;
        z-index: 200;
        width: 310px;
        height: 310px;
        top: 80%;
        left: -42%;
    }
    h1 {
        letter-spacing: 1px;
    }
    p {
        text-transform: uppercase;
    }
    .bars,
    h1,
    p {
        position: relative;
        z-index: 200;
        color: @gray;
    }
    .h1 {
        font-size: 22px;
    }
    .about-icons {
        height: 340px;
        margin-top: -40px;
        position: relative;
        z-index: 200;
        .icons {
            position: absolute;
            // display: inline;
            width: 120px;
            p {
                margin-top: -20px;
            }
            
            img {
                width: 80px;
            }
        }
        .icons-1 {
            top: 60px;
            left: 10%;
            p {
                // margin-top: -20px;
                margin-left: -15px;
            }
        }
        .icons-2 {
            top: 80px;
            right: 0px;
            p{
                // margin-top: -20px;
            }
        }
        .icons-3 {
            top: 200px;
            right: 0px;
            p {
                // margin-top: -20px;
                margin-left: 15px;
            }
        }
        .icons-4 {
            top: 200px;
            left: 10%;
            // margin-top: -20px;
        }
        .icons-5 {
            top: 150px;
            right: 30%;
            p {
                // margin-top: -20px;
                // margin-left: -15px;
            }
        }
    }
}
#activities {
    padding-top: 30px;
    .activity {
        margin-bottom: 25px;
    &:nth-of-type(2) {
        &:after {
            content: " ";
            // find normal rule!!!
            display: inline-table;
            clear: both;
        }
    }
    }
    .title-container {
        // display: table;
        // width: 100%;
        padding: 20px 0px;
        // background-color: #cfcfcf;
        // margin-top: 5px;
        h1 {
            // display: table-cell;
            // text-align: center;
            // vertical-align: middle;
            height: 55px;
            // text-transform: uppercase;
            // color: @darkBlue;
            // font-weight: 700;
            // letter-spacing: 1px;
            // font-size: 14px;
        }
    }
}
#press {
    letter-spacing: 1px;
    padding: 30px 0px 10px 0px;
    h1 a{
        text-transform: uppercase;
        font-size: 28px;
        color: @red;
        margin-top: 0px;
        
        span {
            color: white;
            letter-spacing: 0px;
        }
    }
    .press-title h1 {
        margin-bottom: 30px;
        margin-top: 0px;
        font-family: "FreeSetLightC";
    }
    .press-item {
        margin-bottom: 20px;
    }
    .date {
        color: @red;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0px;
    }
    p {
        color: white;
    }
}
#partners {
    padding: 30px 0px;
    h1 {
        text-transform: uppercase;
        font-size: 28px;
        text-align: center;
        color: @red;
        margin-top: 0px;
        margin-bottom: 30px;
        font-family: "FreeSetLightC";
    } 
    &>div {
        cursor: pointer;
    }
    img {
        width: 100%;
    }
}
#footer {
    padding-top: 30px;
    .logo {
        float: left;
        margin-right: 35px;
        // margin-left: -15px;
    }
    h1 {
        margin-top: 0px;
        text-align: right;
        color: @red;
    }
    .footer-address, 
    .footer-contacts {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        // ie
        *display: inline;
        zoom: 1;
        a {
            color: #a1a1a1;
            span {
                animation: color_change 1s infinite alternate;
                border-bottom: 1px solid @gray;
            }
            &:hover {
                span {
                    border-bottom-color: transparent;
                    color: darken(#a1a1a1, 10%);
                }
            }
        }
    }
    .footer-nav {
        border-top: 1px solid #2b2b2b; 
        border-bottom: 1px solid #2b2b2b; 
        padding: 20px 0px;
        margin-top: 12px;
        margin-bottom: 45px;
        .ozgm-nav {
            ul {
                padding: 0px;
                margin: 0px 0px 10px 10px;
            }
        }
        .vefound-info {
            margin-left: 15px;
            color: #a1a1a1;
            font-size: 14px;
        }
    }
}
// collapse nav 
.icon-bar {
    background-color: white;
}