#map-container {
    background: url('../images/sg-bg.png');
    background-size: cover;
    padding: 40px 0px;
    ymaps {
        &[class*=balloon] {
            // display: none !important;
            background: transparent !important;
            box-shadow: none !important;
            margin-right: 0px;
        }
    }
    #map {
        position: relative;
        height: 470px;
    }
    #map-info {
        position: absolute;
        z-index: 5000;
        top: 300px;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        p,
        a {
            color: #3d3d3d;
        }
        .work-time {
            margin-top: 15px;
        }
    }
}