/* Small devices (tablets, 480px and up) */
@media (min-width: @screen-sm-min) {
        #header {
            .logo {
                float: left;
                padding: 20px 0px 20px 15px;
            }
            .header-nav {
                margin-top: 65px;

            }
            .ozgm-nav {
                float: right;
                ul {

                    li {
                        float: none;
                    }
                }
            }

        }
        #about {
            height: 450px;
            img.bars {
                width: 100%;
            }
            .about-icons {
            // background: url('../images/icons_group.png') no-repeat;
            height: 330px;
            // background-size: contain;
            // background-position-y: 20px;
            .icons {
                // position: absolute;
                // display: inline;
                // width: 120px;
                p {
                    // margin-top: -20px;
                }
                
                img {
                    // width: 80px;
                }
            }
            .icons-1 {
                top: 60px;
                left: 10%;
                p {
                    // margin-top: -20px;
                    margin-left: -15px;
                }
            }
            .icons-2 {
                top: 80px;
                right: 0px;
                p{
                    // margin-top: -20px;
                }
            }
            .icons-3 {
                top: 280px;
                right: 0px;
                p {
                    // margin-top: -20px;
                    margin-left: 15px;
                }
            }
            .icons-4 {
                top: 270px;
                left: 0px;
                // margin-top: -20px;
            }
            .icons-5 {
                top: 180px;
                right: 30%;
                p {
                    // margin-top: -20px;
                    // margin-left: -15px;
                }
            }
        }
        }

    #activities .title-container {
        padding: 20px 15px;
        min-height: 120px;
    } 
    .footer-address, 
    .footer-contacts {
        text-align: right;
    }
    .footer-address {
        // margin-top: -40px;
    }
    #footer .footer-nav .vefound-info {
        float: left;
    }
    // FORMS
    .ozgm-form {
        label {
            width: 35%;
        }
        .form-control {
            float: right;
            width: 65%;
        }
        .submit-btn-container {
            p {
                width: 250px;
            }
        }
    }
    // MAP
    #map-container {
        #map-info {
            top: 100px;
            right: 25px;
        }
    }
    // NEWS
    #news-list {
        // padding-left: 30px;  
        // padding-right: 30px;      
        .news-item {
            // padding: 10px;
            .news-item-content {
                float: none;
            }
        }
    }
    .ozgm-article {
        padding: 30px 30px 25px 30px;
    }
}

// between 480 and 760 
@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {
    #about .bars-cont:after {
        display: none;
    }
    .navbar-collapse {
        padding-right: 40px;
    }
    #footer .footer-address {
        margin-top: -40px;
    }
    #footer .footer-address, #footer .footer-contacts {
        margin-right: 0px;
    }
}
/* Medium devices (desktops, 760px and up) */
@media (min-width: @screen-md-min) {
    #header{
    .header-nav {
        // нахера? - посмотреть потом
        margin-top: 0px;
    }
    .ozgm-nav {
        float: left;
        ul {
            margin-top: 50px;
            // margin-left: -10px;
            li {
                width: auto;
                width: initial;
                float: left;
            }
        }
    }
    .logo {
        padding: 20px 0 20px 0px;
    }
    #header-btn {
        top: 38px;
        right: 0px;
    }
    }
    .page-heading.container {
        padding-right: 0px;
        padding-left: 0px;
    }  
    #about {
        .bars {
            // margin-top: 80px;
        }
        .h1 {
            margin-top: 60px; 
        }
        .about-icons {
            margin-top: -40px;
            .text-gray {
                margin-bottom: 0px;
            }
            .icons {
                position: absolute;
                display: inline;
                img {
                    width: 100px;
                }
            }
            .icons-1 {
                top: 100px;
                left: 0px;
                p {
                    margin-left: 0px;
                }
            }
            .icons-2 {
                top: 70px;
                right: 35%;
            }
            .icons-3 {
                top: 100px;
                right: 5%;
                p {
                    margin-top: -10px;
                    margin-left: 25px;
                }
            }
            .icons-4 {
                top: 220px;
                left: 10%;
            }
            .icons-5 {
                top: 200px;
                right: 25%;
            }
        }
    }
    #footer {
        .logo {
            margin-left: -15px;
            margin-right: 35px;
        }
        h1 {
            margin-right: -15px;
            text-align: left;

        }
        .footer-address, .footer-contacts {
            text-align: left;
            width: auto;
            width: initial;
            // max-width: 40%;
            margin-right: 15px;
        }
        .footer-address {
            // margin-left: -5px;
        }
        .footer-nav {
            .vefound-info {
                float: right;
                margin-right: 15px;
            }
            .ozgm-nav {
                ul {
                    margin: 0 0 0 10px;
                }
            }
        } 
    }
    .ozgm-nav ul li {
        padding-bottom: 0px;
    }
    .page-heading {
        p {
            display: inline-block;
        }
        .page-heading-sub-title-1 {
            margin-top: 4px;
        }
        .page-heading-sub-title-2 {
            float: right;
        }
    }
// BREADCRUMBS
.breadcrumbs {
    margin-left: -15px;
}
// CONTENT TAB
    .page-content-heading {
        margin-left: -15px;
    }
// FORMS
    .ozgm-form {
        padding-left: 10px;
        .ozgm-form-md-right {
            padding-right: 35px;
            label {
                text-align: right;
                padding-right: 20px;
            }
        }
        .submit-btn-container {
            margin-top: -49px;
            p {
                width: 200px;
            }
        }
    }
        // MAP
    #map-container {
        #map-info {
            top: 20px;
        }
    }
    // PRODUCTION PAGE
    #production-list {
        .production-list-item {
            .title-container {
                height: 60px;
                h1 {
                    font-size: 22px;
                }
            }
        }
    }
    .production-page-article {
        margin-right: -15px;
        margin-left: -15px;
    }
    // PRODUCTION SUB PAGE
    #production-sub {
        ul {
            margin-left: -15px;
        }
    }
        // NEWS-SINGLE
    #news-sub {
        h1 {
            padding-left: 25px;
        }
        .news-item-date {
            margin-left: 10px;
        }
    }
    #news-sub .news-sub-content {
        margin-top: 0px;
    }
    #certificates {
        margin-left: -15px;
        margin-right: -15px;
    }
}

// between 760 and 992
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
    .ozgm-nav ul {
        float: left;
        margin-right: 5px;
        li {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
    #activities .title-container h1 {
            font-size: 12px;
            letter-spacing: 0px;
        }
    #header {
        .ozgm-nav ul li a {
            padding: 10px 0px;
        }
        #header-btn {
            padding: 12px 6px;
        }
    }
}

/* Large devices (large desktops, 1210px and up) */
@media (min-width: @screen-lg-min) {
    #header a {
        font-size: 14px;
    }
    #activities .title-container h1 {
            font-size: 16px;
        }

        #about {
        height: 640px;
        .bars {
            margin-top: 130px;
        }
        .bars-cont:after {
            left: -30%;
        }
        .h1 {
            margin-top: 100px;
        }
        .about-icons {
            margin-top: 40px;
            .text-gray {
            }
            .icons {
                width: 150px;
                img {
                    width: 100%;
                }
                p {
                    width: 200px;
                }
            }
            .icons-1 {
                top: 100px;
                left: 35px;
                p {
                    margin-top: -120px;
                    margin-left: -140px;
                }
            }
            .icons-2 {
                top: 60px;
                left: 175px;
                p {
                    margin-top: -160px;
                    margin-left: 75px;
                }
            }
            .icons-3 {
                top: 160px;
                left: 275px;
                p {
                    margin-top: -80px;
                    margin-left: 130px;
                    width: 90px;
                }
            }
            .icons-4 {
                top: 240px;
                left: 0px;
            }
            .icons-5 {
                top: 200px;
                left: 140px;
                p {
                    width: 240px;
                    margin-left: 60px;
                    margin-top: -30px;
                }
            }
        }
    }
    #footer .footer-nav {
    .ozgm-nav {
            ul {
                margin: 0 0 0 115px;
            }
        }
        .vefound-info {
            float: right;
        }
    }
    .ozgm-form {
        label {
            // width: 155px;
        }
        .submit-btn-container {
            // margin-top: -59px;
            p {
                width: 250px;
            }
        }
    }
        // MAP
    #map-container {
        #map-info {
            right: 20%;
        }
    }
        // NEWS
    #news-list {
        padding-left: 30px;  
        padding-right: 30px;      
        .news-item {
            padding: 10px;
            .news-item-content {
                // float: none;
            }
        }
    }
    // NEWS SINGLE
    #news-sub .news-sub-content {
        margin-left: -60px;
    }
}