#news-sub {
    h1 {
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .news-item-date {

    }
    .news-sub-content {
        margin-top: 10px;
        font-size: 14px;
    }
    .news-sub-content-images {
        margin: 30px 0px 30px -15px;
        img {
            width: 163px;
            height: 163px;
            margin: 5px 15px;
        }
    }
}