#news-list {
    // background-color: #ffffff;
    padding: 0px 15px;
    .news-item {
        padding: 10px 10px 10px 0px;
        img {
            float: left;
            width: 163px;
            height: 163px;
            margin-right: 15px;
        }
        .news-item-content {
            float: right;
        }
        h4 {
            text-transform: uppercase;
            font-weight: 700;
            color: #0d355d;
        }
        .news-item-text {
            color: #000000;
            font-size: 14px;
        }
        &:hover {
            background-color: #d7d7d7;
        }
    }
}
.news-item-date {
    color: @red;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}