// PAGE
.bg-container {
    position: relative;
    z-index: 100;
    // background-image: url('../images/bg-small-part.png');
    background-color: @gray-whisper;
    overflow: hidden;
    >img {
        position: absolute;
        z-index: 1;
        opacity: 0.6;
        // left: 50%;
        // margin-left: -800px;
        width: 100%;
        height: 435px;
    }
    .page-content {
        margin-top: 125px; 
    }
    .container {
        position: relative;
        z-index: 100;
    }
}

// PAGE SECTION TITLE
.page-content-heading {
    display: inline-block;
    background-color: @red;
    padding: 10px 25px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: "FreeSetLightC";
    &+.row {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 1px -1px 2px @gray;
    }
}
