#production-sub {
    // background: rgba(255, 255, 255, 0.9);
    ul {
        width: 100%;
        float: left;
        background-color: @gray-middle;
        padding-left: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        li {
            margin-bottom: 18px;
            padding-right: 15px;
            a {
                color: #000000;
                // font-size: 14px;
            }
            &:hover,
            &.list-item-active {
                // background-color: @gray-whisper;
                a {
                    color: @red;
                }
            }
        }
    }
    .production-sub-content {
        padding-bottom: 40px;
        img {
            max-width: 100%;
        }
    }
}