#production-list {
    // background: rgba(255, 255, 255, 0.9);
    padding-top: 25px;
    padding-bottom: 70px;
    .production-list-item {
        margin-bottom: 15px;
        img {
            height: 165px;
        }
        .title-container {
            padding: 12px 0px;
            h1 {
                font-size: 14px;
            }
        } 
    }
}
.production-page-article {
    padding-top: 25px;
    padding-bottom: 25px;
}