#certificates {
    padding-bottom: 55px;
    h1 {
        position: relative;
        z-index: 101;
        text-align: center;
        color: @red;
        text-transform: uppercase;
        font-family: FreeSetLightC;
        font-size: 28px;
        letter-spacing: 2px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .more-certeficates {
        position: relative;
        z-index: 101;
        font-size: 12px;
        color: @red;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 5px;
        &:after {
            content: "\203A\203A";
            display: block;
            font-size: 26px;
            transform: rotate(90deg);
        }
    }
    .certeficate-container {
        position: relative;
        height: 260px;
        cursor: pointer;
        margin: 0px auto 20px auto;
        width: 175px;
        img {
            width: 175px;
            top: 0px;
            left: 0px;
            position: absolute;
        &:hover {
            width: 220px;
            height: 310px;
            left: -22px;
            top: -20px;
            z-index: 100;
        }
        }
    }
}